h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 20px;

}

h4{
    margin-top: 7px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    padding: 7px;
    font-size: 45px;
}

.modal-footer{
  height: auto;
}

.col-sm{
  padding-bottom: 9%;
}

#tableRow{
  padding-bottom: 11%;
}

.borderless td, .borderless th {
  border: none;
}

#totalMin{
  font-size: 34;
  padding-left: 2%;
}

#tempoStr{
  font-size:115%;

}

#totalStr{
  font-size: 115%;
}
